*{
    font-family: "SN Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.body{
    margin: 0 auto;
}
header{
    width: 1366px;
    height: 150px;
    background-color: rgb(246 230 82);
    margin: 0 auto;
    text-align: center;

}
header img{
height: 95%;
margin-left: 40px;
}
nav{
    width: 1366px;
    height: 150px;
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
nav a{
    color: rgb(68, 55, 55);
    text-decoration: none;
    padding: 15px 10px;
    transition: 0.4s;
    overflow: hidden;
    font-family: "SN Pro", sans-serif;
    font-size: larger;
}
nav a:hover{
    background-color: rgb(156 82 0);
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}
main{
    width: 1366px;
    height: 2000px;
    background-color: aquamarine;
    margin: 33px;
    margin-top: 80px;
    margin: 0 auto;
    background-image: url(../img/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.personajes{
    width: 1300px;
    height: 400px;
    background-color: rgba(179, 229, 225, 0.523);
    display: inline-block;
    margin-left: 33px;
    margin-top: 80px;
}
.personajes a{
    color: blue;
}
.foto{
    width: 400px;
    height: 400px;
    background-color: blue;
    float: left;
    margin-left: 33px;
    text-align: center;
    border-bottom: 4px dotted crimson;
}
.foto img{
    height: 100%; /* es un comentario en css */
}
.info{
    width: 800px;
    height: 400px;
    float: left;
    padding: 30px;
}
.info h3{
    margin: 20px 0;
    font-size: 1.8rem;
}
footer{
    width: 1366px;
    height: 300px;
    background-color: blanchedalmond;
    margin: 0 auto;
    padding: 20px;
}
footer a{
    color: blue;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    font-size: large;
}
footer a:hover{
    text-decoration: underline;
}
footer p{
    color: rgb(68, 55, 55)
}